<!-- <div class="bg-gradient-to-t from-violet-700 to-indigo-400 ">

    <div class="iframe-container">
        <iframe src="http://192.168.100.52:1880/#flow/:id"></iframe>
    </div>

</div> -->


<div class="bg-gradient-to-t from-violet-700 to-indigo-400 ">

    <div class="relative isolate overflow-hidden   bg-gradient-to-t from-violet-700 to-indigo-400">
    
        <!-- <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]">
            <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
                viewBox="0 0 1155 678">
                <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".2"
                    d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
                <defs>
                    <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177"
                        y2="474.645" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#9089FC"></stop>
                        <stop offset="1" stop-color="#FF80B5"></stop>
                    </linearGradient>
                </defs>
            </svg>
        </div> -->
        <div class="px-6 lg:px-8">
            <!-- <nav class="flex items-center justify-between pt-6 " aria-label="Global">
                <div class="flex lg:flex-1">
    
                </div>
               
                <div class="hidden lg:flex lg:gap-x-12 iframe ">
                    <a href="#" class="text-sm font-semibold leading-6 text-white ">Product</a>
    
                    <a href="#" class="text-sm font-semibold leading-6 text-white">Features</a>
    
                    <a href="#" class="text-sm font-semibold leading-6 text-white">Marketplace</a>
    
                    <a href="#" class="text-sm font-semibold leading-6 text-white">Company</a>
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
    
                </div>
            </nav> -->
            <!-- ---------------------------------------------------------------------------------------------------------------- -->
            <!-- <div role="dialog" aria-modal="true">
                <div focus="true" class="fixed inset-0 z-10 overflow-y-auto bg-gray-900 px-6 py-6 lg:hidden">
                    <div class="flex items-center justify-between">
                        
                        <a href="#" class="-m-1.5 p-1.5">
                            <span class="sr-only">Your Company</span>
                            <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="">
                        </a>
                        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
                            <span class="sr-only">Close menu</span>
                            
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    
                </div>
            </div>
            <div>
                <div >
    
                    <div class="iframe-container ">
                        
                    <iframe src="http://127.0.0.1:1880/#flow/c200adc6f8f7d02f"></iframe>
                    </div>
    
                </div>
            </div> -->

            <!-- ----------------------------------------------------------------------------------------------------------------------- -->
        </div>
     
    </div>

</div>


<!-- <div class="bg-gray-100">
    <div class="pt-12 sm:pt-16 lg:pt-20">
        <div class="mx-auto max-w-20xl px-6 lg:px-8">
            <div class="text-center">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl">Simple no-tricks
                    pricing</h2>
                <p class="mt-4 text-xl text-gray-600">If you're not satisfied, contact us within the first 14 days and
                    we'll send you a full refund.</p>

                    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" style="border-radius: 20px;">
                        <div class="px-4 py-5 sm:px-6">
                            <div class="bg-gradient-to-t from-violet-700 to-indigo-400 ">
                    
                                <div class="relative isolate overflow-hidden   bg-gradient-to-t from-violet-700 to-indigo-400">
                    
                                    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
                                        style="border-radius: 10px;">
                                        <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
                                            viewBox="0 0 1155 678">
                                            <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".2"
                                                d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
                                            <defs>
                                                <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208"
                                                    y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#9089FC"></stop>
                                                    <stop offset="1" stop-color="#FF80B5"></stop>
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                    <div class="px-6 lg:px-8">
                                        <nav class="flex items-center justify-between pt-6 " aria-label="Global">
                                            <div class="flex lg:flex-1">
                    
                                            </div>
                    
                                            <div class="hidden lg:flex lg:gap-x-12 iframe mb-5">
                                                <a i18n href="#" class="text-sm font-semibold leading-6 text-white ">Edit</a>
                    
                                                <a i18n href="#" class="text-sm font-semibold leading-6 text-white">Design</a>
                    
                                                <a i18n href="#" class="text-sm font-semibold leading-6 text-white">Preview</a>
                    
                                                <a i18n href="#" class="text-sm font-semibold leading-6 text-white">publication</a>
                    
                                                <a i18n href="#" class="text-sm font-semibold leading-6 text-white">Delete</a>
                                            </div>
                                            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    
                                            </div>
                                        </nav>
                    
                                        <div role="dialog" aria-modal="true">
                                            <div focus="true" class="fixed inset-0 z-10 overflow-y-auto bg-gray-900 px-6 py-6 lg:hidden">
                                                <div class="flex items-center justify-between">
                    
                                                    <a href="#" class="-m-1.5 p-1.5">
                                                        <span class="sr-only">Your Company</span>
                                                        <img class="h-8"
                                                            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="">
                                                    </a>
                                                    <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
                                                        <span class="sr-only">Close menu</span>
                    
                                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                        </svg>
                                                    </button>
                                                </div>
                    
                                            </div>
                                        </div>
                                      
                                    </div>
                    
                                </div>
                    
                            </div>
                        </div>
                    
                    </div>
            </div>
        </div>
    </div>
    <div class="mt-8 bg-white pb-16 sm:mt-12 sm:pb-20 lg:pb-28" style="border-radius: 10px;">
        <div class="relative">
            <div class="absolute inset-0 h-1/2 bg-gray-100"></div>
            <div class="relative mx-auto max-w-9xl px-6 lg:px-8" >
                <div class="mx-auto max-w-lg overflow-hidden rounded-lg shadow-lg lg:flex lg:max-w-none">
                    <div class="flex-1 bg-white px-6 py-8 lg:p-12">
                        
                        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" style="border-radius: 20px;">
                            <div class="px-4 py-5 sm:px-6">
                                <div class="bg-gradient-to-t from-violet-700 to-indigo-400 ">
                        
                                    <div class="relative isolate overflow-hidden   bg-gradient-to-t from-violet-700 to-indigo-400">
                        
                                        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
                                            style="border-radius: 10px;">
                                            <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
                                                viewBox="0 0 1155 678">
                                                <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".2"
                                                    d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
                                                <defs>
                                                    <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208"
                                                        y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#9089FC"></stop>
                                                        <stop offset="1" stop-color="#FF80B5"></stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div class="px-6 lg:px-8">
                                            <nav class="flex items-center justify-between pt-6 " aria-label="Global">
                                                <div class="flex lg:flex-1">
                        
                                                </div>
                        
                                                <div class="hidden lg:flex lg:gap-x-12 iframe mb-5">
                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white ">Edit</a>
                        
                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white">Design</a>
                        
                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white">Preview</a>
                        
                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white">publication</a>
                        
                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white">Delete</a>
                                                </div>
                                                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                        
                                                </div>
                                            </nav>
                        
                                            <div role="dialog" aria-modal="true">
                                                <div focus="true" class="fixed inset-0 z-10 overflow-y-auto bg-gray-900 px-6 py-6 lg:hidden">
                                                    <div class="flex items-center justify-between">
                        
                                                        <a href="#" class="-m-1.5 p-1.5">
                                                            <span class="sr-only">Your Company</span>
                                                            <img class="h-8"
                                                                src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="">
                                                        </a>
                                                        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
                                                            <span class="sr-only">Close menu</span>
                        
                                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                            </svg>
                                                        </button>
                                                    </div>
                        
                                                </div>
                                            </div>
                                            
                                        </div>
                        
                                    </div>
                        
                                </div>
                            </div>
                        
                        </div>
 
                            <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow"style="border-radius: 20px;">
                                <div class="px-4 py-5 sm:px-6">
                                <div class="bg-gradient-to-t from-violet-700 to-indigo-400 " >
                                
                                    <div class="relative isolate overflow-hidden   bg-gradient-to-t from-violet-700 to-indigo-400">
                                
                                        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" style="border-radius: 10px;">
                                            <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
                                                viewBox="0 0 1155 678">
                                                <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".2"
                                                    d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
                                                <defs>
                                                    <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177"
                                                        y2="474.645" gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#9089FC"></stop>
                                                        <stop offset="1" stop-color="#FF80B5"></stop>
                                                    </linearGradient>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div class="px-6 lg:px-8" >
                                            <nav class="flex items-center justify-between pt-6 " aria-label="Global">
                                                <div class="flex lg:flex-1">
                                
                                                </div>
                                
                                                <div class="hidden lg:flex lg:gap-x-12 iframe ">
                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white ">Edit</a>
                                
                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white">Design</a>
                                
                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white">Preview</a>
                                
                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white">publication</a>

                                                    <a i18n href="#" class="text-sm font-semibold leading-6 text-white">Delete</a>
                                                </div>
                                                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                                
                                                </div>
                                            </nav>
                                
                                            <div role="dialog" aria-modal="true">
                                                <div focus="true" class="fixed inset-0 z-10 overflow-y-auto bg-gray-900 px-6 py-6 lg:hidden">
                                                    <div class="flex items-center justify-between">
                                
                                                        <a href="#" class="-m-1.5 p-1.5">
                                                            <span class="sr-only">Your Company</span>
                                                            <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
                                                                alt="">
                                                        </a>
                                                        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
                                                            <span class="sr-only">Close menu</span>
                                
                                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                
                                                    <div class="iframe-container ">
                                
                                                        <iframe src="http://127.0.0.1:1880/#flow/c200adc6f8f7d02f"></iframe>
                                                    </div>
                                
                                                </div>
                                            </div>
                                        </div>
                                
                                    </div>
                                
                                </div>
                                </div>
                               
                            </div>
                        
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="lg:flex h-full lg:flex-col m-10">
    <header class="flex items-center justify-between border-b border-gray-200 py-4 px-6 lg:flex-none">
        <h1 class="text-lg font-semibold text-gray-900 ">
            <button type="button" style="float: left" (click)="showBot()"
                class="ml-2 rounded-md border border-transparent bg-indigo-600 py-2 px-10 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 "><span
                    i18n>Save and view of your bot</span></button>
            <time class="ml-3"><span i18n>{{botNameDesign}}</span></time>
        </h1>
        <div class="flex items-center">
            <div class="flex items-center rounded-md shadow-sm md:items-stretch">

    
            </div>
            <div class="">



            </div>

        </div>
    </header>

    <iframe class="content-center" style="width: 100%; height: 85%;" src="http://127.0.0.1:1880/#flow/c200adc6f8f7d02f"></iframe>

</div>












